.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;  /* Bordes redondeados */
  }
  
  .full-width {
    width: 100%;
  }
  
  .inputs-row {
    display: flex;
    gap: 15px;
  }
  
  .detalle-tabla {
    width: 100%;
    margin-top: 15px;
  }
  
  .my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  button {
    border-radius: 15px;  /* Bordes redondeados */
    padding: 10px 20px;  /* Ajusta el tamaño del botón si es necesario */
  }
  