<div class="catalog-container">
  <mat-card class="catalog-card" (click)="navigateTo('/unidad')">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" role="img">straighten</mat-icon>
    <span>Unidades de Medida</span>
  </mat-card>

  <mat-card class="catalog-card" (click)="navigateTo('/bodega')">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" role="img">store</mat-icon>
    <span>Bodegas</span>
  </mat-card>

  <mat-card class="catalog-card" (click)="navigateTo('/categoria')">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" role="img">category</mat-icon>
    <span>Categorías de Productos</span>
  </mat-card>

  <mat-card class="catalog-card" (click)="navigateTo('/laboratorio')">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" role="img">science</mat-icon>
    <span>Laboratorios</span>
  </mat-card>

  <mat-card class="catalog-card" (click)="navigateTo('presentacion')">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" role="img">view_module</mat-icon>
    <span>Presentación de Productos</span>
  </mat-card>
</div>
