/* Modal styles */
.modal-content {
    width: 100%;
    max-width: 1200px;  /* Hacemos el modal más ancho */
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    justify-content: center;  /* Centra el contenido en el eje horizontal */
    align-items: center;  /* Alinea verticalmente */
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
  }
  
  .modal-header h2 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin: 0;  /* Elimina el margen por defecto que podría descentrarlo */
  }
  
  
  .product-field {
    width: 100%;
  }
  
  .input-row {
    display: flex;
    gap: 16px; /* Espacio entre los campos de Precio y Cantidad */
    align-items: center;
    margin-bottom: 24px;
  }
  
  .price-field, .quantity-field {
    width: 45%; /* Aseguramos que los campos de precio y cantidad sean del mismo tamaño */
  }
  
  button.mat-icon-button {
    background-color: #00796b;
    color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-table {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
  }
  
  .mat-column-acciones {
    width: 10%;
  }
  
  .mat-header-cell {
    font-weight: 500;
    color: #555;
    background-color: #f5f5f5;
  }
  
  .mat-cell {
    font-size: 15px;
  }
  
  .mat-icon-button {
    color: #f44336; /* Red for delete */
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  button {
    min-width: 140px;
    height: 45px;
    font-size: 16px;
    border-radius: 25px;
  }
  
  button.mat-raised-button {
    font-size: 16px;
  }
  
  button.mat-raised-button.color-primary {
    background-color: #00796b;
    color: white;
  }
  
  button.mat-raised-button.color-accent {
    background-color: #ff4081;
    color: white;
  }
  
  button.mat-button {
    font-size: 16px;
    color: #00796b;
  }
  
  .mat-form-field-label {
    font-size: 14px;
    color: #5f6368;
  }
  
  .mat-form-field-infix {
    font-size: 14px;
  }
  
  .mat-form-field-underline {
    display: none; /* Removing underline for a more modern feel */
  }
  
  mat-dialog-content {
    padding: 0;
  }
  
  /* Animations for focus on input fields */
  .mat-form-field-appearance-fill .mat-form-field-infix {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-infix:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  

  .stock-indicator {
  font-weight: bold;
  margin-top: 5px;
}

.text-success {
  color: #4caf50;
}

.text-warning {
  color: #ff9800;
}

.text-danger {
  color: #f44336;
}
