/* Asegura que el contenedor del SideNav cubra toda la pantalla */
.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Estilos del SideNav */
mat-sidenav {
  width: 250px;
  background: #2C2C2C;
  color: white;
}

/* Encabezado del SideNav */
.sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Lista de menú */
mat-nav-list {
  margin-top: 10px;
}

/* Asegura que los enlaces dentro del menu tengan el color blanco */
mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white !important;  /* ✅ Forza el texto en blanco */
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

mat-nav-list a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Estilo de los iconos */
mat-icon {
  color: white !important;
}

/* Barra superior */
.toolbar {
  background: #2C2C2C;
  color: white;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #321ae9;
}


.sidenav-footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 10px;
  background-color: #424242; /* Fondo oscuro */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  justify-content: flex-start;
}

.logged-user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.logged-user mat-icon {
  font-size: 18px;
  color: white;
}

mat-divider {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
}

.logged-user {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 🔥 Lo importante */
  width: 100%; /* Necesario para que ocupe todo el ancho */
  font-size: 14px;
}


.app-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.session-timer {
  font-weight: bold;
  color: #ffffff;
  background: #ff5722; /* Color de alerta, combina con tu diseño oscuro */
  padding: 4px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
