.table-container {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin: 20px;
  }
  
  .titulo-tabla {
    color: blue;
    margin-bottom: 20px;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filter-field {
    width: 250px;
  }
  
  .table-scroll-container {
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .mat-table {
    min-width: 1000px;
  }
  
  .full-width-table th, .full-width-table td {
    padding: 10px 15px;
    text-align: center;
  }
  
  .btn-abonar {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #03a9f4;
    color: white;
  }
  
  .btn-abonar:hover {
    background-color: #0288d1;
  }
  
  .estado-badge {
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    display: inline-block;
    text-transform: uppercase;
  }
  
  .estado-badge.pendiente {
    background-color: #f44336; /* rojo */
  }
  
  .estado-badge.pagado {
    background-color: #4caf50; /* verde */
  }
  
  .estado-badge.parcial {
    background-color: #ff9800; /* naranja */
  }
  