.info-credito {
    margin-bottom: 20px;
    background-color: #f0f4f8;
    padding: 15px;
    border-radius: 12px;
    font-size: 15px;
  }
  
  .saldo {
    color: #d32f2f;
    font-weight: bold;
  }
  
  .form-abono {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-dialog-actions button {
    margin-left: 10px;
  }
  