.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem 1rem;
  background-color: #321ae9;
}

/* Tarjetas estilizadas */
.catalog-card {
  background: #1e1b47;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px;
  height: 160px;
}

.catalog-card mat-icon {
  width: 100%;
  height: auto;
  font-size: clamp(40px, 6vw, 80px); /* Se adapta entre 40px y 80px según pantalla */
  max-width: 80px;
  max-height: 80px;
  aspect-ratio: 1 / 1;
  margin-bottom: 0.5rem;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff, 0 0 5px #8c52ff;
}


.catalog-card:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px #00e5ff, 0 0 10px #8c52ff;
}

.catalog-card span {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

/* Contenedor de filtros */
.fecha-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #f5f5f5;
}

/* Sección del gráfico centrado */
.chart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  text-align: center;
}

.chart-container h2 {
  margin-bottom: 1rem;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}
